<h3>March Madness Matchup</h3>
<p>Enter a two team matchup and view the predicted winner</p>
<form id="teams">
  <label>Team 1: <select id="team1"><%= render 'main/teams' %></select></label><br />
  <label>Team 2: <select id="team2"><%= render 'main/teams' %></select></label><br />
  <input type="submit" />
</form>

